<!DOCTYPE html>
<html>
<head>
	<title>Create Team</title>
</head>
<body>
	<h1> Create a team</h1>
	<form action="/create_team" method="POST">
		<input type="text" name="campus" placeholder="insert location">
		<button type="submit">Save</button>
	</form>
</body>
</html>